// not nessecarily just grids, but other layouts as well (all of them have been converted to flexbox, I know)

.page {
  max-width: 1000px;
  margin: auto;  
}


.post-grid {
  display: flex;
  max-width: 1000px;
  min-width: 200px;
}

