body {
  max-width: 1000px;
  margin: auto;  
}

.home-grid {
  display: grid;
  grid-template-columns: [s lefts-s] 250px [left-e content-s] 750px [content-e e];
  max-width: 1000px;
  min-width: 200px;
}

@media only screen and (max-width: 1040px) {
  .home-grid {
    display: flex;
  }
}