body {
  max-width: 1000px;
  margin: auto;  
}

.home-grid {
  display: flex;
  flex-direction: column;

  &-content { 
    display: flex;
    max-width: 1000px;
    min-width: 100px;
  }
}

.post-grid {
  display: flex;
  max-width: 1000px;
  min-width: 200px;
}

@media only screen and (max-width: 520px) {
  .home-grid {
    &-content {
      // flex-direction: column;
      // width: 400px;
    }
  }
}
