@import 'variables';

.post-preview {
  background-color: $foreground-blue;
  border: 1px solid rgb(168, 167, 167);
  border-radius: 4px;
  margin: 15px;
  padding: 15px;
  transition: .3s background-color ease;

  &-link {
    color: white;
  }

  &:hover {
    background-color: $focus-blue;
    cursor: pointer;
  }
}


