@import 'variables';
@import 'layout/grid';
@import '../../../node_modules/react-image-crop/lib/ReactCrop.scss';

// Pages
@import 'pages/feed';
@import 'pages/post';
@import 'pages/post-new';
@import 'pages/home';
@import 'pages/author';

// Components
@import 'components/post';
@import 'components/profile';
@import 'components/navbar';
@import 'components/spinner';
@import 'components/author-box';
@import 'components/avatar-modal';


html {
  color: white;
  body { background-color: $background-blue; }
  h1, h2, h3 { font-family: $title-font; margin: 5px; }
  h4, h5, h6 { font-family: $subtitle-font; margin: 5px; }
  p, div, span { font-family: $body-font }
  a { text-decoration: none; }
  
  button { 
    color: white; 
    background-color: $button-blue; 
    font-family: $title-font;
    transition: .3s all ease;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: $button-blue-hover;
      color: rgb(184, 184, 184);
    }
  }
}