@import 'variables';

// Pages
@import 'pages/home';

// Components
@import 'components/post';


html {
  color: white;
  body { background-color: $background-blue; }
  h1, h2, h3 { font-family: $title-font; margin: 5px; }
  h4, h5, h6 { font-family: $subtitle-font; margin: 5px; }
  p, div, span { font-family: $body-font; margin: 5px;}
}