@import 'variables';
@import 'layout/grid';
@import '../../../node_modules/react-image-crop/lib/ReactCrop.scss';

// Pages
@import 'pages/feed';
@import 'pages/post';
@import 'pages/home';
@import 'pages/login';
@import 'pages/author';
@import 'pages/sign-up';
@import 'pages/post-new';
@import 'pages/landing-page';


// Components
@import 'components/post-preview';
@import 'components/navbar';
@import 'components/spinner';
@import 'components/profile';
@import 'components/comments';
@import 'components/author-box';
@import 'components/make-comment';
@import 'components/avatar-modal';
@import 'components/other-posts';
@import 'components/error-box';


html {
  color: white;
  body { background-color: $background-blue; }
  h1, h2, h3 { font-family: $title-font; margin: 0px; }
  h4, h5, h6 { font-family: $subtitle-font; margin: 0px; }
  p, div, span { font-family: $body-font }
  a { 
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
  
  button { 
    color: white; 
    background-color: $button-blue; 
    font-family: $title-font;
    transition: .3s all ease;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: $button-blue-hover;
      color: rgb(184, 184, 184);
    }
  }

  textarea {
    resize: none;
  }
}