// FONTS
$body-font: 'B612', sans-serif;
$title-font: 'Open Sans', sans-serif;
$subtitle-font: 'Roboto Condensed', sans-serif;

// COLORS
$background-blue: #1F2833;
$foreground-blue: rgb(50, 64, 82);
$focus-blue: rgb(59, 75, 97)