// FONTS
$body-font: 'B612', sans-serif;
$title-font: 'Open Sans', sans-serif;
$subtitle-font: 'Roboto Condensed', sans-serif;

// COLORS
$background-blue: #1F2833;
$foreground-blue: rgb(47, 71, 102);
$focus-blue: rgb(56, 85, 122);
$button-blue: rgb(46, 81, 196);
$button-blue-hover: rgb(49, 90, 224);