<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=B612:400,700|Open+Sans:700|Roboto+Condensed:300&display=swap" %>
  </head>

  <body>
    <%= yield :view_specific_javascript%>
  </body>
</html>
